<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Employee</title>
  </head>
  <body>
    <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
    </tr>
    <tr th:each="employee : ${employees}">
      <td th:text="${employee.id}">ID</td>
      <td th:text="${employee.name}">Name</td>
      <td th:text="${employee.age}">Age</td>
    </tr>
</table>
<p>---------------------------</p>
<form th:action="@{/employee}" th:object="${employee}" method="post">
    <input type="text" th:field="*{name}"/>
    <input type="number" th:field="*{age}"/>
    <button type="submit">Add Employee</button>
</form>
  </body>
</html>
